body {
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
header {
  padding: 24px 36px;
  font-size: 2rem;
}
nav {
  background-color: #333;
  display: inline-block;
  width: 100%;
  clear: both;
}
nav a {
  color: white;
}
nav div {
  float: left;
  padding: 12px 36px;
}

main {
  background-color: white;
}

article {
  padding: 12px 36px 12px 36px;
}
article header {
  padding: 0;
  font-size: 1rem;
}
article h1 {
  font-size: 1.4rem;
  line-height: 1.5rem;
  margin: 12px 0 0 0;
}
article small{
  font-size: .8rem;
  line-height: 1.1rem;
}
article .content {
  padding-top: 24px;
}
article + article {
  border-top: 1px solid magenta
}
form {
  max-width: 928px;
  margin: 0 auto;
  padding: 48px;
}
fieldset {
  border: 0;
  background: none;
  padding: 0;
}
fieldset + fieldset {
  margin-top: 24px;
}
input, select {
  font-size: 1.8em;
  width: 100%;
}
input[type='submit'] {
  height: 2em;
  background-color: magenta;
}
.comment-list {
  margin-top: 12px;
  border-top: 1px solid #333;
}
.comment-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}
.comment-wrapper .comment {
  flex: 2;
  padding: 0 12px;
}
.comment h4 {
  margin: 12px 0 6px 0;
  font-size: 1.2rem;
}

.score-bar {
  display: flex;
}
.score-bar button, .score-bar .score {
  flex: 1;
  margin-right: 12px;
  max-width: 70px;
  max-height: 36px;
  border-radius: 6px;
}
.score {
  flex: 1;
  flex-wrap: nowrap;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
  min-width: 36px;
  max-height: 36px;
  background-color: magenta;
  color: white;
  line-height: 1rem;
  padding: 6px;
}
footer {
  padding: 36px;
}